<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:name=".KvietaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_kvieta"
        android:theme="@style/Theme.Kvieta"
        android:usesCleartextTraffic="false">
        <activity android:name=".QrScannerActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kvieta-companion" android:host="pair" />
            </intent-filter>
        </activity>
        <receiver android:name=".connection.DecisionActionReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.kvieta.companion.ACTION_DECISION" />
                <action android:name="com.kvieta.companion.ACTION_SESSION_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.KvietaAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/kvieta_widget_info" />
        </receiver>
    </application>
</manifest>
